<section>
  <h2>Lista de Relatórios</h2>
  <div class="filters"></div>
  <div class="table-container">
    <table>
      <thead>
        @for (item of content(); track $index) {
          @if (item.header.resolveConditional()) {
            <th [class]="item.header.resolveClass()" [ngStyle]="item.header.resolveStyle()">
              {{ item.header.resolveText() }}
            </th>
          }
        }
        @if (buttons().length) {
          <th></th>
        }
      </thead>
      <tbody>
        @for (item of items(); track $index) {
          <tr>
            @for (td of content(); track $index) {
              @if (td.content.resolveConditional(item)) {
                <td
                  [class]="td.content.resolveClass()"
                  [ngStyle]="td.content.resolveStyle()"
                  (click)="td.content.click?.(item, $event)"
                >
                  {{ td.content.resolveContent(item) }}
                </td>
              }
            }
            @if (buttons().length) {
              <td>
                <div class="buttons">
                  @for (button of buttons(); track $index) {
                    <button
                      [ui-tooltip]="button.resolveTooltip(item)"
                      [class]="button.resolveClass(item)"
                      [ngStyle]="button.resolveStyle(item)"
                      (click)="button.click?.(item, $event)"
                    >
                      <span class="material-symbols-outlined">
                        {{ button.resolveIcon(item) }}
                      </span>
                    </button>
                  }
                </div>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
