@if (label()) {
  <label [for]="label()" (click)="input.focus()">{{ label() }}</label>
}
<div class="position-relative w-100">
  <input
  #input
    [type]="inputType() ?? 'text'"
    [placeholder]="placeholder() ?? ''"
    [disabled]="disabled()"
    [maxlength]="maxlength()"
    [(ngModel)]="value"
    (ngModelChange)="writeValue(value)"
  />
  @if (type() === 'password') {
    <span (click)="handleTogglePassword()" class="material-symbols-outlined password-icon"> {{passwordIcon()}} </span>
  }
</div>
