:host {
  padding: 10px;

  .table-container {
    padding: 20px;
    background-color: var(--ui-disabled-bg);
    border-radius: 8px;

    table>tbody>tr>td>.buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      button {
        padding: 0px 5px;
        background-color: transparent;
        color: var(--ui-text-primary);
        border: 1px solid var(--ui-brand-primary-500);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
