@mixin generate-css-vars($map, $parent: null) {

  @each $key,
  $value in $map {
    $new-key: if($parent, "#{$parent}-#{$key}", $key);

    @if type-of($value)=="map" {
      @include generate-css-vars($value, $new-key);
    }

    @else {
      --#{$prefix}-#{$new-key}: #{$value};

      @if type-of($value)=="color" {
        --#{$prefix}-#{$new-key}-rgb: #{red($value)},
        #{green($value)},
        #{blue($value)};
      }

      .text-#{$new-key} {
        color: var(--#{$prefix}-#{$new-key}) !important;
      }

      .bg-#{$new-key} {
        background-color: var(--#{$prefix}-#{$new-key}) !important;
      }

      .border-#{$new-key} {
        border-color: var(--#{$prefix}-#{$new-key}) !important;
      }

      .bg-#{$new-key}-soft {
        background-color: rgb(var(--#{$prefix}-#{$new-key}-rgb) / var(--ui-opacity, 0.1)) !important;
      }
    }
  }
}
